<h3>Contact Us</h3>
<p>
Mark Herman, M.D. <br>
Associate Professor of Medicine <br>
Division of Endocrinology, Metabolism, and Nutrition <br>
Duke Molecular Physiology Institute <br>
Duke University Medical Center <br>
<br>
email: mark.herman (#!) duke.edu <br>
<br>
Duke Molecular Physiology Institute <br>
Carmichael Building <br>
300 North Duke Street <br>
Durham, NC 27701 <br>
</p>

<p>
 <h3> Interested in joining the Herman lab? </h3>
 We don’t generally post for specific positions, <a href="{{ site.url }}/join">so please reach out!</a> We welcome applicants from all backgrounds.<br>
</p>

<h3> Recent Posts </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
